<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>retargetingtracker</name>
	<displayName>Retargeting Tracker</displayName>
	<version>1.0.5</version>
	<description>Retargeting is a marketing automation tool that boosts the conversion rate and sales of your online store.</description>
	<author>Retargeting Team</author>
	<tab>analytics_stats</tab>
	<confirmUninstall>Are you sure you want to uninstall?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>